apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: python-api 
    env: production
  name: python-api-production
spec:
  replicas: 4
  template:
    metadata:
      labels:
        app: python-api
        env: production
    spec:
      containers:
      - image: quay.io/chris_ricci/python_api:v1
        imagePullPolicy: IfNotPresent
        name: python-api
        ports:
        - containerPort: 80
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {}
      terminationGracePeriodSeconds: 30
